{% extends 'base.html.twig' %}

{% block title %}
    {% trans from 'messages' into locale %}
        homepage
    {% endtrans %}
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/animatedBorders.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <!-- Masthead-->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            {% include 'homepage/animatedDesk.html.twig' %}
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">IdeasToDev</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-code"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">Un site permettant aux talents de se réunir pour créer un projet ensemble</p>
        </div>
    </header>
    <!-- Portfolio Section-->
    <section class="page-section portfolio" id="portfolio">
            <!-- Portfolio Grid Items-->
            <div class="d-flex flex-row justify-content-around flex-wrap">
                <!-- Portfolio Item 1-->
                <div class="gradient-border card rounded my-3 mx-3" style="width: 25em;">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div class="card-body d-flex flex-column align-items-center">
                            <i class="fas fa-award fa-10x"></i>
                        </div>
                        <div class="card-title text-center display-6">
                            Innovant
                        </div>
                    </div>
                </div>
                <div class="gradient-border card rounded my-3 mx-3" style="width: 25em;">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div class="card-body d-flex flex-column align-items-center">
                            <i class="fas fa-users fa-10x"></i>
                        </div>
                        <div class="card-title text-center display-6">
                            Collaboratif
                        </div>
                    </div>
                </div>
                <div class="gradient-border card rounded my-3 mx-3" style="width: 25em;">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div class="card-body d-flex flex-column align-items-center">
                            <i class="fas fa-graduation-cap fa-10x"></i>
                        </div>
                        <div class="card-title text-center display-6">
                            Formateur
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- About Section-->
    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="row">
                <div class="col-lg-4 ms-auto"><p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p></div>
                <div class="col-lg-4 me-auto"><p class="lead">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p></div>
            </div>
            <!-- About Section Button-->
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">
                    <i class="fas fa-download me-2"></i>
                    Free Download!
                </a>
            </div>
        </div>
    </section>
    <!-- Copyright Section-->
    <div class="copyright py-4 text-center text-white">
        <div class="d-flex flex-row" style="margin-right: 2em">
            <div class="container my-auto">Copyright &copy; IdeasToDev {{ "now"|date("Y") }}</div>
            <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
            <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
            <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
        </div>
    </div>
{% endblock %}
