<div class="d-flex justify-content-center mt-3 mb-3">
    <form action="{{ path( 'allProjects' ) }}" method="GET" class="d-flex justify-content-between w-40">
        <input type="text" placeholder="Rechercher un projet" name="search" id="search" class="form-control" style="margin-right: 0.4em">
        <input type="submit" value="Rechercher" class="btn btn-primary">
    </form>
</div>